<div class="container">
  <div class="mat-elevation-z4 table-card">
    <div class="table-title-bar">
      <h2 class="mat-title">Training Catalog</h2>
      <span fxFlex></span>
      <button mat-icon-button
              (click)="openAddDialog()"
              matTooltip="Add Course">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <table mat-table [dataSource]="training" multiTemplateDataRows>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
      </ng-container>
      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef># of Days</th>
        <td mat-cell *matCellDef="let element">{{ element.duration }}</td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let element">{{ typeOptions[element.type] }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="table-actions">
          <div>
            <span fxFlex></span>
            <button mat-icon-button
                    (click)="editTraining(element)"
                    matTooltip="Edit Training">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button
                    (click)="deleteTraining(element)"
                    matTooltip="Remove Training">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;"
          class="element-row"></tr>
    </table>
  </div>
</div>
